<div class="w-full min-h-screen flex justify-center pt-10 bg-indigo-400">
  <div class="card bg-indigo-300 mt-10 flex flex-col items-center pt-10">
    <h1 class="text-4xl plants">Editing Product</h1>

    <%= render 'form', product: @product %>
  </div>
</div>
