<div class="navbar px-8 bg-indigo-700">
  <a href="<%= root_path %>"><h2 class="text-4xl text-white plants">131 Streetwear</h2></a>
  <%= link_to "Post new product", new_product_path, :class => "px-8 py-2 bg-transparent border-2 border-white text-white hover:bg-indigo-300 hover:text-gray-900 transition-all duration-700 rounded-lg"%>
</div>
